In [245]:
import tabula
import pandas as pd
import re

# suppress SettingWithCopyWarning
pd.options.mode.chained_assignment = None

In [246]:
### UNCOMMENT TO RIP A SINGLE FILE ON DEMAND

# file_path = "pdfs/Cherrybrook_Technology_High_School.pdf"

In [247]:
# read all pages of pdf; return list of dfs

df_list = tabula.read_pdf(file_path, pages = "all")

In [248]:
# take just the dfs containing room data
# process each one, adding accuracy stats to overall total

num_pages = len(df_list)

# iterate from table 2 to num_pages-1
# (Python includes the first index, stops short of the last index)
# tables 0 and 1 are from the intro pages and will be discarded
for i in range(2, num_pages):
    df_rooms = df_list[i]
    %run process_one_table.ipynb
    school_name = file_path.replace("pdfs/", "").replace(".pdf", "")
    # name the tables from 1 onwards
    df_catA.to_csv("outputs/" + school_name + str(i-1) + ".csv")
    
df_catA

Num Spaces =		48
Num Cat A spaces =	16
Num Spaces =		50
Num Cat A spaces =	21
Num Spaces =		47
Num Cat A spaces =	26
Num Spaces =		46
Num Cat A spaces =	31
Num Spaces =		13
Num Cat A spaces =	4

,room,category,area,capacity,capacity_guess,delta
4,NS 270 13187 - NS 270 13187 - Metal Technics/H...,Student Space (44),95.0,44,43,1
5,OS 600 13406 - OS 600 13406 - Learning Unit - ...,Student Space (26),57.0,26,26,0
6,OS 600 14882 - OS 600 14882 - Learning Unit - ...,Student Space (26),57.0,26,26,0
7,OS 600 15889 - OS 600 15889 - Learning Unit - ...,Student Space (26),57.0,26,26,0